

html {
     font-family: "League Spartan", sans-serif;
     --main-background: hsl(222, 26%, 31%);
     --toggle-background-keypad-background: hsl(223, 31%, 20%);
     --screen-background: hsl(224, 36%, 15%);
     --white: hsl(0, 0%, 100%);
     --text-color: hsl(221, 14%, 31%);
     --top-color: hsl(0, 0%, 100%);
     --key1-background: hsl(225, 21%, 49%);
     --key1-shadow: hsl(224, 28%, 35%);

     --key-background-toggle: hsl(6, 63%, 50%);
     --key-toggle-shadow: hsl(6, 70%, 34%);

     --key-background: hsl(30, 25%, 89%) ;
     --key-shadow: hsl(28, 16%, 65%);

     --pos-left-toggler: 6px;
     --key-hover-bg: var(--white);
     --result-hover-bg: rgb(251, 116, 92);
     --result-color : var(--white);
     --secondary-hover-bg: hsl(226, 60%, 74%);

}

html[theme ='theme-2']
{
     --main-background: hsl(0, 0%, 90%);
     --toggle-background-keypad-background: hsl(0, 5%, 81%);
     --screen-background: hsl(0, 0%, 93%);
     --text-color: hsl(60, 10%, 19%);
     --white: hsl(0, 0%, 100%);
     --top-color: var(--text-color);
     --key1-background: hsl(185, 42%, 37%);
     --key1-shadow: hsl(185, 58%, 25%);

     --key-background-toggle: hsl(25, 98%, 40%);
     --key-toggle-shadow: hsl(25, 99%, 27%);

     --key-background:  hsl(45, 7%, 89%);
     --key-shadow:hsl(35, 11%, 61%);  

     --pos-left-toggler: 28px;
     --result-color : var(--white);
     --result-hover-bg: orange;
     --secondary-hover-bg: hsl(185, 35%, 51%);


}

html[theme ='theme-3']
{
     --main-background: hsl(268, 75%, 9%);
     --toggle-background-keypad-background: hsl(268, 71%, 12%);
     --screen-background: hsl(268, 71%, 12%);
     --text-color: hsl(52, 100%, 62%);
     --top-color: var(--text-color);
     --white: hsl(0, 0%, 100%);
     --key1-background: hsl(281, 89%, 26%);
     --key1-shadow: hsl(285, 91%, 52%);

     --key-background-toggle: hsl(176, 100%, 44%);
     --key-toggle-shadow: hsl(177, 92%, 70%);

     --key-background: hsl(268, 47%, 21%) ;
     --key-shadow:hsl(290, 70%, 36%);  

     --pos-left-toggler: 54px;
     --key-hover-bg: hsl(258, 47%, 57%);
     --result-color : hsl(198, 20%, 13%);
     --result-hover-bg: var(--key-toggle-shadow);
     --secondary-hover-bg: var(--key-shadow);

}


* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background-color: var(--main-background);
     color: var(--text-color);

}

.container {
     height: 100vh;
     width: 100%;
     display: flex;
     padding: 20px;
}

.calculator {
     width: 100%;
     max-width: 480px;
     margin: auto;
}

.top {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-block: 20px;
     margin-bottom: 10px;
     color: var(--top-color);
}

.top h4 {
     font-weight: 600;
     font-size: 25px;
}

.toggle-theme {
     display: flex;
     align-items: center;
     gap: 20px;
}

.toggler {
     position: relative;
     width: 80px;
     height: 28px;
     background-color: var(--toggle-background-keypad-background);
     border-radius: 20px;
}

.them-pos {
     position: absolute;
     display: flex;
     justify-content: space-evenly;
     left: 0;
     top: -20px;
     width: 100%;
}

.toggle-btn {
     position: absolute;
     left: var(--pos-left-toggler);
     top: 4px;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     background-color: var(--key-background-toggle);
     box-shadow: 0px 0px 5px var(--key-toggle-shadow);
}

.toggle-btn:hover {
     cursor: pointer;
}

.display {
     font-size: 50px;
     padding: 30px 20px;
     border-radius: 10px;
     text-align: right;
     margin-bottom: 30px;
     background-color: var(--screen-background);
     font-weight: 700;
     color: var(--top-color);
}

.buttons-container {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 20px;
     padding: 30px;
     border-radius: 10px;
     background-color: var(--toggle-background-keypad-background);
}

.button {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 35px;
     text-align: center;
     background-color: var(--key-background);
     padding-block: 16px 12px;
     box-shadow: 0 4px var(--key-shadow);
     border-radius: 10px;
     font-weight: 700;
     color: var(--text-color);

}

.button:hover {
     background-color: var(--key-hover-bg);
     cursor: pointer;
}

.button.secondary {
     background-color: var(--key1-background);
     color: var(--white);
     box-shadow: 0 4px var(--key1-shadow);
     font-size: 20px;
}

.button.secondary:hover {
     background-color: var(--secondary-hover-bg);
     cursor: pointer;
}

.button.result {
     background-color: var(--key-background-toggle);
     color: var(--result-color);
     box-shadow: 0px 4px var(--key-toggle-shadow);
}

.button.result:hover {
     background-color: var(--result-hover-bg);
     box-shadow: 0px 4px var(--key-background-toggle);
     cursor: pointer;
}

.button.span-2 {
     grid-column-start: 1;
     grid-column-end: 3;
}

.button.span-4 {
     grid-column-start: 3;
     grid-column-end: 5;
}


html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

@media screen and (max-width: 480px)
{
     .display {
          font-size: 35px;
          padding: 20px;
     }

     .buttons-container {
          gap: 10px;
     }

     .button {
          font-size: 28px;
     }
}